<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835407694038-q1lgldlddoihglelgr567luqh4llf7kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835407694038-q1lgldlddoihglelgr567luqh4llf7kt</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkCHnRNZIypCMwm1ZDYKssDWmCo9ZGWA</string>
	<key>GCM_SENDER_ID</key>
	<string>835407694038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ameysunu00719-gmail.com</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7eff5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7eff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835407694038:ios:87aac83b183c98d3632177</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-7eff5.firebaseio.com</string>
</dict>
</plist>